/*  @import "~antd/lib/style/themes/default.less"; */

.login-page {
  background: url("../assets/img/bg.jpg") repeat;
  height:100vh;
}
.login-form {
  width: 368px;
  margin: 0 auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
  margin: 12px 0;
}
.new-user {
  float: right;
}
.user-img {
  margin: 110px 0 26px 0;
  font-size: 28px;
  text-align: center;
}
.user-img img {
  width: 50px;
  margin-right: 18px;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
}
